@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@keyframes scaleMenuUp {
  0% {
    transform-origin: left center;
    transform: scale(0) translateX(-50px);
  }
  100% {
    transform-origin: left center;
    transform: scale(1) translateX(0px);
  }
}
@keyframes threadAppearance {
  0% {
    transform-origin: top center;
    transform: translateY(450px);
  }
  100% {
    transform-origin: top center;
    transform: translateY(0);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

html {
  overflow: hidden;
}

body {
  display: flex;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #fafafa;
}

:root {
  --color1:#8838ff;
  --color2:#e942ff;
}

#wrapper {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 0;
}
@media screen and (min-width: 992px) {
  #wrapper {
    flex-direction: row;
  }
}
#wrapper::before, #wrapper::after {
  position: absolute;
  top: -200px;
  left: -310px;
  width: 500px;
  height: 700px;
  background: linear-gradient(0deg, var(--color1) 0%, var(--color2) 100%);
  content: "";
  border-radius: 0 0 300px 300px;
  z-index: -2;
}
@media screen and (min-width: 768px) {
  #wrapper::before, #wrapper::after {
    left: -250px;
  }
}
@media screen and (min-width: 992px) {
  #wrapper::before, #wrapper::after {
    top: 0;
    left: -80px;
  }
}
@media screen and (min-width: 1441px) {
  #wrapper::before, #wrapper::after {
    width: 34.72vw;
    height: 87.5vh;
    left: -5.55vw;
    border-radius: 0 0 18vw 18vw;
  }
}
#wrapper::after {
  left: auto;
  right: -310px;
  top: calc(100vh - 500px);
  border-radius: 300px 300px 0 0;
  opacity: 0.05;
}
@media screen and (min-width: 768px) {
  #wrapper::after {
    right: -200px;
  }
}
@media screen and (min-width: 992px) {
  #wrapper::after {
    right: -12.15vw;
    top: calc(100vh - 700px);
  }
}
@media screen and (min-width: 1441px) {
  #wrapper::after {
    width: 34.72vw;
    right: -12.15vw;
    height: 87.5vh;
    border-radius: 18vw 18vw 0 0;
    top: 12.5vh;
  }
}

#phone {
  display: flex;
  position: relative;
  width: 250px;
  height: 505px;
  background-color: hsl(270deg, 20%, 96%);
  border: 10px solid #fff;
  border-radius: 35px;
  margin-left: 10.5vw;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.0745098039);
  z-index: -1;
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  #phone {
    margin-left: 10.5vw;
  }
}
@media screen and (min-width: 1441px) {
  #phone {
    height: 63.12vh;
    width: 17.36vw;
  }
}
#phone::before, #phone::after {
  position: absolute;
  top: 0;
  width: 100%;
  height: 65px;
  background: linear-gradient(90deg, var(--color1) 0%, var(--color2) 100%);
  content: "";
  border-radius: 25px 25px 10px 10px;
}
@media screen and (min-width: 1441px) {
  #phone::before, #phone::after {
    height: 8.12vh;
  }
}
#phone::after {
  width: 130px;
  height: 20px;
  top: 0;
  background: #fff;
  left: calc(50% - 65px);
  border-radius: 0 0 50px 50px;
}
@media screen and (min-width: 1441px) {
  #phone::after {
    height: 2.5vh;
    width: 9.3vw;
    left: calc(50% - 4.65vw);
  }
}
#phone .appHeadings {
  display: flex;
  z-index: 0;
  color: hsl(276deg, 100%, 81%);
  align-items: center;
  height: 65px;
  width: 100%;
  padding: 1.5rem 1rem 0 1rem;
  margin-bottom: 0.23rem;
}
@media screen and (min-width: 1441px) {
  #phone .appHeadings {
    height: 8.12vh;
    padding-top: 3.5vh;
    margin-bottom: 0.5vh;
  }
}
#phone .appHeadings img {
  width: 1.74vw;
  min-width: 25px;
  margin-right: 0.55vw;
  border-radius: 50%;
  border: 2px solid hsl(276deg, 100%, 81%);
}
#phone .appHeadings .textInfos {
  width: 80%;
  margin-right: 1rem;
}
#phone .appHeadings h5 {
  font-size: 12px;
  color: #fff;
}
@media screen and (min-width: 1441px) {
  #phone .appHeadings h5 {
    font-size: 0.83vw;
  }
}
#phone .appHeadings .subHeading {
  font-size: 8px;
  line-height: 1.4;
}
@media screen and (min-width: 1441px) {
  #phone .appHeadings .subHeading {
    font-size: 0.55vw;
    line-height: 1.2;
  }
}
#phone .appHeadings .back {
  margin-right: 0.55vw;
}
#phone .appHeadings .menu {
  display: flex;
  justify-self: flex-end;
  position: relative;
}
#phone .appHeadings .menu:hover {
  cursor: pointer;
}
@media screen and (min-width: 1441px) {
  #phone .appHeadings .menu {
    font-size: 1.25vw;
  }
}
#phone .conv {
  display: flex;
  flex-direction: column;
  font-size: 8px;
  padding: 0 0.4rem;
  margin-top: 0.1rem;
  overflow: hidden;
}
@media screen and (min-width: 1441px) {
  #phone .conv {
    font-size: 0.55vw;
    padding: 0 0.44rem;
  }
}
#phone .conv .sender, #phone .conv .recipient {
  display: flex;
  padding: 0.6rem;
  width: fit-content;
  max-width: 130px;
  margin: 0.23rem 0;
  border-radius: 10px;
  animation: threadAppearance 1.2s ease-in-out forwards;
}
@media screen and (min-width: 1441px) {
  #phone .conv .sender, #phone .conv .recipient {
    max-width: 9.03vw;
    margin: 0.5vh 0;
    padding: 0.6rem 0.8rem;
    border-radius: 0.7vw;
  }
}
#phone .conv .sender {
  border-bottom-right-radius: 5px;
  align-self: flex-end;
  color: hsl(271deg, 15%, 43%);
  background-color: #fff;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.0745098039);
}
@media screen and (min-width: 1441px) {
  #phone .conv .sender {
    border-bottom-right-radius: 0.35vw;
  }
}
#phone .conv .recipient {
  border-bottom-left-radius: 5px;
  color: hsl(276deg, 55%, 52%);
  background-color: hsl(272deg, 41%, 93%);
}
@media screen and (min-width: 1441px) {
  #phone .conv .recipient {
    border-bottom-left-radius: 0.35vw;
  }
}
#phone .conv .pictureBox {
  display: flex;
  align-self: flex-end;
  margin-top: 0.3rem;
  animation: threadAppearance 1.2s ease-in-out forwards;
}
#phone .conv img {
  width: 2.77vw;
  min-width: 40px;
  height: 5vh;
  min-height: 40px;
  margin: 0 0.2rem;
  border-radius: 25%;
}
#phone .conv .offer {
  display: flex;
  width: 100%;
  min-width: 160px;
  align-items: center;
  color: hsl(276deg, 100%, 81%);
  background: linear-gradient(90deg, var(--color2) 0%, var(--color1) 100%);
}
@media screen and (min-width: 1441px) {
  #phone .conv .offer {
    min-width: 11.1vw;
  }
}
#phone .conv input[type=radio] {
  display: grid;
  place-content: center;
  appearance: none;
  border: 1px solid hsl(289deg, 100%, 72%);
  width: 12px;
  height: 12px;
  border-radius: 20px;
  margin-right: 0.5rem;
}
@media screen and (min-width: 1441px) {
  #phone .conv input[type=radio] {
    width: 0.83vw;
    height: 0.83vw;
    border-width: 1px;
  }
}
#phone .conv input[type=radio]::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em hsl(289deg, 100%, 72%);
  background: hsl(289deg, 100%, 72%);
}
@media screen and (min-width: 1441px) {
  #phone .conv input[type=radio]::before {
    width: 0.5vw;
    height: 0.52vw;
    box-shadow: inset 1em 1em hsl(289deg, 100%, 72%);
  }
}
#phone .conv input[type=radio]:checked::before {
  transform: scale(1);
}
#phone .conv label {
  width: 70px;
  margin-right: 1rem;
}
@media screen and (min-width: 1441px) {
  #phone .conv label {
    width: 4.86vw;
    margin-right: 1.11vw;
  }
}
#phone .conv .price {
  display: flex;
  font-weight: bold;
  color: #fff;
  font-size: 14px;
}
@media screen and (min-width: 1441px) {
  #phone .conv .price {
    font-size: 0.95vw;
  }
}
#phone .inputField {
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  width: 92%;
  border-radius: 25px;
  background-color: #fff;
  font-size: 10px;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  padding-right: 0.3rem;
}
@media screen and (min-width: 1441px) {
  #phone .inputField {
    margin: 1vh 0;
    padding: 0.8vh 1.11vw;
    padding-right: 0.5vw;
    border-radius: 1.73vw;
  }
}
#phone .inputField p {
  display: flex;
  align-items: center;
  height: fit-content;
  width: 80%;
  color: hsl(206deg, 6%, 79%);
  margin-right: 1rem;
}
@media screen and (min-width: 1441px) {
  #phone .inputField p {
    font-size: 0.7vw;
    margin-right: 1vw;
  }
}
#phone .inputField i {
  display: flex;
  height: 25px;
  width: 25px;
  align-items: center;
  justify-content: center;
  background-color: hsl(271deg, 36%, 24%);
  border-radius: 50%;
  color: #fff;
}
@media screen and (min-width: 1441px) {
  #phone .inputField i {
    width: 1.73vw;
    height: 3.4vh;
  }
}

#colorPicker {
  display: none;
  position: absolute;
  flex-direction: column;
  background-color: white;
  padding: 1rem;
  padding-top: 0.5rem;
  right: -200px;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.0745098039);
  border-radius: 25px;
  animation: scaleMenuUp 0.5s ease-in forwards;
}
#colorPicker i {
  color: black;
  display: flex;
  width: fit-content;
  align-self: flex-end;
  margin: 0.5rem 0;
}
#colorPicker i:hover {
  cursor: pointer;
}
#colorPicker .colors {
  display: flex;
  margin-top: 0.5rem;
  align-items: center;
  justify-content: flex-end;
}
#colorPicker .colors label {
  width: 60px;
}
#colorPicker .colorPicker--text {
  font-size: 14px;
}

.vanish {
  display: flex;
}

#text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  text-align: center;
}
#text h1 {
  font-size: 30px;
  color: hsl(271deg, 36%, 24%);
  margin-bottom: 2rem;
  font-size: 38px;
}
@media screen and (min-width: 1441px) {
  #text h1 {
    font-size: 2.64vw;
  }
}
#text p {
  width: 82%;
  color: hsl(270deg, 7%, 64%);
  line-height: 1.8;
}
@media screen and (min-width: 768px) {
  #text p {
    width: 34.7vw;
    padding-right: 2.77vw;
  }
}
@media screen and (min-width: 1441px) {
  #text p {
    font-size: 1.11vw;
  }
}
@media screen and (min-width: 768px) {
  #text {
    margin-left: 8.33vw;
  }
}

/*# sourceMappingURL=style.css.map */
