@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

html {
  overflow: hidden;
}

body {
  display: flex;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #fafafa;
}

:root {
  --color1: hsl(264, 100%, 61%);
  --color2: hsl(293, 100%, 63%);
}

#wrapper {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
#wrapper::before, #wrapper::after {
  position: absolute;
  top: 0;
  left: -5.55vw;
  width: 34.7vw;
  height: 87.5vh;
  background: linear-gradient(0deg, var(--color1) 0%, var(--color2) 100%);
  content: "";
  border-radius: 0 0 19vw 19vw;
  z-index: -2;
}
#wrapper::after {
  left: auto;
  right: -12.15vw;
  top: 12.5vh;
  border-radius: 19vw 19vw 0 0;
  opacity: 0.03;
}

#phone {
  display: flex;
  position: relative;
  width: 17.36vw;
  height: 63.3vh;
  background-color: hsl(270deg, 20%, 96%);
  border: 10px solid #fff;
  border-radius: 2.43vw;
  overflow: hidden;
  margin-left: 10.5vw;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.0745098039);
  z-index: -1;
  flex-direction: column;
}
#phone::before, #phone::after {
  position: absolute;
  top: 0;
  width: 100%;
  height: 8.12vh;
  background: linear-gradient(90deg, var(--color1) 0%, var(--color2) 100%);
  content: "";
  border-radius: 0 0 10px 10px;
}
#phone::after {
  width: 9vw;
  height: 2.5vh;
  top: 0;
  background: #fff;
  left: calc(50% - 4.5vw);
  border-radius: 0 0 50px 50px;
}
#phone .appHeadings {
  display: flex;
  z-index: 0;
  color: hsl(276deg, 100%, 81%);
  align-items: center;
  height: 8.13vh;
  width: 100%;
  padding: 1.5rem 1rem 0 1rem;
}
#phone .appHeadings img {
  height: 3.25vh;
  width: 1.74;
  margin-right: 0.55vw;
  border-radius: 50%;
  border: 2px solid hsl(276deg, 100%, 81%);
}
#phone .appHeadings .textInfos {
  width: 100%;
  margin-right: 1.11vw;
}
#phone .appHeadings h5 {
  font-size: 0.69vw;
  color: #fff;
}
#phone .appHeadings p {
  font-size: 0.55vw;
  line-height: 1.4;
}
#phone .appHeadings .back {
  margin-right: 0.55vw;
}
#phone .appHeadings .menu {
  display: flex;
  justify-self: flex-end;
}
#phone .conv {
  display: flex;
  flex-direction: column;
  font-size: 0.55vw;
  padding: 0 0.55vw;
  margin-top: 0.55vw;
}
#phone .conv .sender, #phone .conv .recipient {
  display: flex;
  padding: 0.6rem;
  width: fit-content;
  max-width: 9.03vw;
  margin: 0.62vh 0;
  border-radius: 10px;
}
#phone .conv .sender {
  border-bottom-right-radius: 5px;
  align-self: flex-end;
  color: hsl(271deg, 15%, 43%);
  background-color: #fff;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.0745098039);
}
#phone .conv .recipient {
  border-bottom-left-radius: 5px;
  color: hsl(276deg, 55%, 52%);
  background-color: hsl(272deg, 41%, 93%);
}
#phone .conv .pictureBox {
  display: flex;
  align-self: flex-end;
  margin-top: 0.6vh;
}
#phone .conv img {
  width: 2.77vw;
  height: 5vh;
  margin: 0.2rem;
  border-radius: 25%;
}
#phone .conv .offer {
  display: flex;
  width: 100%;
  max-width: 11.11vw;
  align-items: center;
  color: hsl(276deg, 100%, 81%);
  background: linear-gradient(90deg, var(--color2) 0%, var(--color1) 100%);
}
#phone .conv .radio {
  width: 0.83vw;
  height: 1.5vh;
  border: 1px solid hsl(289deg, 100%, 72%);
  border-radius: 20px;
  margin-right: 0.55vw;
}
#phone .conv p {
  display: flex;
  width: 5.55vw;
  margin-right: 1.11vw;
  color: hsl(276deg, 100%, 81%);
}
#phone .conv .price {
  display: flex;
  font-weight: bold;
  color: #fff;
  font-size: 0.83vw;
}
#phone .inputField {
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  width: 92%;
  border-radius: 25px;
  background-color: #fff;
  font-size: 0.55vw;
  margin: 1vh 0;
  padding: 0.6vh 1.11vw;
  padding-right: 0.33vw;
}
#phone .inputField p {
  display: flex;
  align-items: center;
  height: fit-content;
  width: 100%;
  color: hsl(206deg, 6%, 79%);
}
#phone .inputField i {
  display: flex;
  height: 2.87vh;
  width: 1.73vw;
  align-items: center;
  justify-content: center;
  background-color: hsl(271deg, 36%, 24%);
  border-radius: 50%;
  color: #fff;
}

#text {
  display: flex;
  flex-direction: column;
  margin-left: 8.33vw;
}
#text h1 {
  font-size: 30px;
  color: hsl(271deg, 36%, 24%);
  margin-bottom: 2rem;
  font-size: 2.6vw;
}
#text p {
  width: 34.7vw;
  color: hsl(270deg, 7%, 64%);
  line-height: 1.8;
  padding-right: 2.77vw;
}

/*# sourceMappingURL=style.css.map */
