#wrapper{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: right;
    &::before, &::after{
        position: absolute;
        top: 0;
        left: -80px;
        width: 500px;
        height: 87.5vh;
        @include bg-linear-duo-tone(0deg, $gradient1,0%,$gradient2,100%);
        content: '';
        border-radius: 0 0 250px 250px;
        z-index: -2;
    }
    &::after{
        left: auto;
        right: -175px;
        top: calc(100vh - 87.5vh);
        border-radius: 250px 250px 0 0;
        opacity: 0.05;
    }
}