#wrapper{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    &::before, &::after{
        position: absolute;
        top: 0;
        left: -5.55vw;
        width: 34.7vw;
        height: 87.5vh;
        @include bg-linear-duo-tone(0deg, $gradient1,0%,$gradient2,100%);
        content: '';
        border-radius: 0 0 19vw 19vw;
        z-index: -2;
    }
    &::after{
        left: auto;
        right: -12.15vw;
        top: calc(100vh - 87.5vh);
        border-radius: 19vw 19vw 0 0;
        opacity: 0.03;
    }
}