#text{
    display: flex;
    flex-direction: column;
    margin-left: 8.33vw;
    h1{
        font-size: 30px;
        color: $main-heading;
        margin-bottom: 2rem;
        font-size: 2.60vw;
    }

    p{
        width: 34.7vw;
        color: $paragraph;
        line-height: 1.8;
        padding-right: 2.77vw;
    }
}