$gradient1 : var(--color1);
$gradient2: var(--color2);

$app-heading: hsl(276, 100%, 81%);
$left-chat: hsl(276, 55%, 52%);
$right-chat: hsl(271, 15%, 43%);
$placeholder: hsl(206, 6%, 79%);
$main-heading: hsl(271, 36%, 24%);
$paragraph: hsl(270, 7%, 64%);

$bg-app: hsl(270, 20%, 96%);
$submit:  hsl(271, 36%, 24%);
$radio-outline: hsl(289, 100%, 72%);

$zd: hsl(297, 100%, 81%);